<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Appender name="null" class="org.apache.log4j.varia.NullAppender" />
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p [%t] %c{1.} - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="null" />
		</Root>
	</Loggers>
</Configuration>